#home-hero {
  position: relative;
  background: url("./assets/images/b1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: -1;
  }
}

#main-title {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
  }
}
.main-title {
  background: url("./assets/images/b1.jpg");
  background-attachment: fixed;
  &::before {
    background-color: rgba(0, 0, 0, 0.3);
  }
}
.post-title {
  background: url("./assets/images/bak3.jpg");
  &:before {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
.archive-title {
  background: url("./assets/images/bak1.jpg");
  &:before {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
.search-title {
  background: url("./assets/images/bak12.jpg");
  &:before {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

#aboutUsNumber {
  background: rgba(142, 119, 84, 0.9);
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url(./assets/images/bak6.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
  }
}
